langchain
langchain-core
langchain-community
langgraph
langchain-google-genai
langchain-mistralai
python-dotenv
faiss-cpu
langchain-google-vertexai
streamlit
tavily-python
beautifulsoup4
requests
lxml
pandas
tiktoken
rich
tenacity
orjson
pydantic
html5lib